[submodule "leetcode-in-python3"]
	path = leetcode-in-python3
	url = https://github.com/rsj217/leetcode-in-python3.git
[submodule "leetcode-int-rust"]
	path = leetcode-int-rust
	url = https://github.com/rsj217/leetcode-in-rust.git
[submodule "leetcode-int-golang"]
	path = leetcode-int-golang
	url = https://github.com/rsj217/leetcode-in-golang.git
